/*********************************/
/******** Animations Style *******/
/*********************************/
/* Sections                      */
/*  1> fade-in                   */
/*  2> Pan-in                    */
/*  3> Rise-in                   */
/*********************************/

/*********************************/
/*  1> Fade-in                   */
/*********************************/
.fadeAnimation{
    animation: fadeIn ease 2.5s;
    -webkit-animation: fadeIn ease 2.5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
/*********************************/
/*  2> Pan-in                    */
/*********************************/
.panAnimation{
    animation: panIn ease 1.5s;
    -webkit-animation: panIn ease 1.5s;
}

.panAnimationSkills{
    animation: panInSkills ease 1.5s;
    -webkit-animation: panInSkills ease 1.5s;
}

@keyframes panIn {
    0% {opacity:0; margin-left: -10rem;}
    100% {opacity:1; margin-left: 0rem;}
}

@-moz-keyframes panIn {
    0% {opacity:0; margin-left: -10rem;}
    100% {opacity:1; margin-left: 0rem;}
}

@-webkit-keyframes panIn {
    0% {opacity:0; margin-left: -10rem;}
    100% {opacity:1; margin-left: 0rem;}
}

@-o-keyframes panIn {
    0% {opacity:0; margin-left: -10rem;}
    100% {opacity:1; margin-left: 0rem;}
}

@-ms-keyframes panIn {
    0% {opacity:0; margin-left: -10rem;}
    100% {opacity:1; margin-left: 0rem;}
}

@keyframes panInSkills {
    0% {opacity:0; margin-left: -10rem;}
    100% {opacity:1; margin-left: calc(var(--bs-gutter-x)/ -2);}
}

@-moz-keyframes panInSkills {
    0% {opacity:0; margin-left: -10rem;}
    100% {opacity:1; margin-left: calc(var(--bs-gutter-x)/ -2);}
}

@-webkit-keyframes panInSkills {
    0% {opacity:0; margin-left: -10rem;}
    100% {opacity:1; margin-left: calc(var(--bs-gutter-x)/ -2);}
}

@-o-keyframes panInSkills {
    0% {opacity:0; margin-left: -10rem;}
    100% {opacity:1; margin-left: calc(var(--bs-gutter-x)/ -2);}
}

@-ms-keyframes panInSkills {
    0% {opacity:0; margin-left: -10rem;}
    100% {opacity:1; margin-left: calc(var(--bs-gutter-x)/ -2);}
}
/*********************************/
/*  3> Rise-in                   */
/*********************************/
.riseAnimation{
    animation: riseIn ease 1.5s;
    -webkit-animation: riseIn ease 1.5s;
}

.riseSocial{
    animation: riseIn cubic-bezier(0.63, 0.01, 0.54, 0.99) 1.8s;
    -webkit-animation: riseIn cubic-bezier(0.63, 0.01, 0.54, 0.99) 1.8s;
}

.riseProjects{
    animation: riseInCard ease 1.5s;
    -webkit-animation: riseInCard ease 1.5s;
}

@keyframes riseIn {
    0% {opacity:0; margin-top: -10rem;}
    100% {opacity:1; margin-top: 0rem;}
}

@-moz-keyframes riseIn {
    0% {opacity:0; margin-top: -10rem;}
    100% {opacity:1; margin-top: 0rem;}
}

@-webkit-keyframes riseIn {
    0% {opacity:0; margin-top: -10rem;}
    100% {opacity:1; margin-top: 0rem;}
}

@-o-keyframes riseIn {
    0% {opacity:0; margin-top: -10rem;}
    100% {opacity:1; margin-top: 0rem;}
}

@-ms-keyframes riseInCard {
    0% {opacity:0; margin-top: -10rem;}
    100% {opacity:1; margin-top: 1rem;}
}

@keyframes riseInCard {
    0% {opacity:0; margin-top: -10rem;}
    100% {opacity:1; margin-top: 1rem;}
}

@-moz-keyframes riseInCard {
    0% {opacity:0; margin-top: -10rem;}
    100% {opacity:1; margin-top: 1rem;}
}

@-webkit-keyframes riseInCard {
    0% {opacity:0; margin-top: -10rem;}
    100% {opacity:1; margin-top: 1rem;}
}

@-o-keyframes riseInCard {
    0% {opacity:0; margin-top: -10rem;}
    100% {opacity:1; margin-top: 1rem;}
}

@-ms-keyframes riseInCard {
    0% {opacity:0; margin-top: -10rem;}
    100% {opacity:1; margin-top: 1rem;}
}