/*********************************/
/********* Portfolio Style *******/
/*********************************/
/* Sections                      */
/*  0> Constants                 */
/*  1> Home                      */
/*  2> About                     */
/*  3> Skills                    */
/*  4> Projects                  */
/*  5> Contacts                  */
/*********************************/

/*********************************/
/*  0> Constants                 */
/*********************************/

/* font-families import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* supporting css files */
@import "animations.css";

body {
    background-color: #2b2a2a;
    background-image: url(../img/code-bg.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: contain;
    background-position-y: top;
}
.navbar .nav-link{
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 2px solid transparent;
    letter-spacing: 1px;
}
.navbar .nav-link:hover{
    border-bottom: 2px solid #FFF79A;
}
.navbar-brand img{
    margin-left: -34px;
}
.section-title {
    color: #656565;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
}
.section-title + hr {
    width: 3.5rem;
    height: 5px;
    background-color: #FFF79A;
    opacity: 0.75;
    margin-top: -0.8rem;
}
.progress-bar{
    color: #555555;
    background-color: #FFF79A;
}
.progress{
    background-color: #555555;
}
.resume button{
    color: #FFF79A;
    background-color: #2B2B2B;
    margin-left: 42%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 1rem 3rem;
    -webkit-box-shadow: -2px -7px 11px -2px rgb(125 125 125 / 45%), 6px 6px 12px 3px rgba(0,0,0,0.8); 
    box-shadow: -2px -7px 11px -2px rgb(125 125 125 / 45%), 6px 6px 12px 3px rgba(0,0,0,0.8);
}
.carousel-indicators{
    bottom: -6.5rem;
}
.carousel-indicators li.active{
    background-color: #FFF79A;
}
.carousel-indicators li{
    width: 20px;
    height: 20px;
    border: yellow;
    border-radius: 100px;
    background-color: #C7C7C7;
    opacity: 0.75;
}
.carousel-control-next, .carousel-control-prev{
    bottom: -5.9rem;
    top: unset;
    width: unset;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-image: unset;
    color: black;
    font-size: 25px;
}
.hidden{
    opacity: 0;
}
/*********************************/
/*  1> Home                      */
/*********************************/
section#home {
    display: block;
    background-image: url(../img/two-tone.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 1.3rem;
}

/* navbar style */
section#home nav{
    /*background-image: url(../img/code-bg.jpg);
    background-repeat: no-repeat;
    background-color: #2b2a2a;
    background-blend-mode: multiply;
    background-size: cover;*/
    padding-bottom: 5%;
    z-index: 3;
}
section#home nav .navbar-brand{
    margin-left: 7rem;
}
section#home nav ul{
    margin-left: auto !important;
    margin-right: 1rem !important; 
}
section#home nav a{
    color: #E0E0E0;
}

/* content style */
section#home .container{
    margin-top: 1rem;
}
section#home .content{
    z-index: 1;
    color: white;
}
section#home .content .hello{
    font-family: 'Pacifico', cursive;
    color: #DB6464;
    text-shadow: -15px 6px 12px #202020;
    display: inline;
    font-size: 8rem;
    font-style: italic;
    position: relative;
    top: 3rem;
}
section#home .content h1{
    color: #B1B1B1;
    font-size: 7.5rem;
    font-weight: 200;
}
section#home .content .name{
    color: antiquewhite;
    font-weight: 600;
    font-size: 5rem;
    margin-top: 3.2rem;
    letter-spacing: 0.45rem;
}
section#home .content .name:nth-child(1){
    margin-top: 5rem;
}
section#home .content .container .row:nth-child(2) .name{
    margin-top: 0.5rem;
}
section#home .content hr{
    height: 5px;
    background-color: #FFFFFF;
    opacity: 0.5;
}
section#home .content .profession .title{
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 2.4rem;
    font-weight: 100;
    letter-spacing: 1rem;
}
section#home .content .socials{
    width: 15rem;
    font-size: 2.2rem;
    margin-top: 2rem;
}
section#home .content .socials .container{
    padding-left: 0px;
}
section#home .content .socials a{
    margin-right: auto;
    color: #FFEDBE;
}
section#home .content .resume button{
    color: #FFF79A;
    background-color: #2B2B2B;
    margin: 25%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 1rem 3rem;
    -webkit-box-shadow: -2px -7px 11px -2px rgb(125 125 125 / 45%), 6px 6px 12px 3px rgba(0,0,0,0.8); 
    box-shadow: -2px -7px 11px -2px rgb(125 125 125 / 45%), 6px 6px 12px 3px rgba(0,0,0,0.8);
}
section#home .content .resume button:hover {
    color: #db6464;
    background: #232222;
}

/* image style */
section#home .image{
    width: 80%;
    height: calc(94% - 16px);
    margin-top: 4.5rem;
    margin-left: 2.5rem;
    margin-bottom: -2.5rem;
    border: solid 10px #DB6464;
    background-image: url(../img/coding_gif.gif);
    background-blend-mode: multiply;
    background-color: #784645;
    animation: fadeIn ease 2.5s;
    -webkit-animation: fadeIn ease 2.5s;;
}
section#home .image img:nth-child(1){
   opacity: 0.2;
}
section#home .image img:nth-child(2){
    opacity: 1;
    position: sticky;
    margin-top: -143%;
    margin-left: 0%;
    margin-bottom: -13%;
    height: auto;
    width: 100%;
}

/* Responsive style */
@media only screen and (max-width: 1400px) and (min-width: 770px) {
    section#home .image img:nth-child(1){
        opacity: 0.1;
    }
    section#home .image img:nth-child(2){
        margin-top: -129%;
    }
    section#home .image{
        height: auto;
    }
}
@media only screen and (max-width: 1300px) and (min-width: 990px) {
    section#home .image img:nth-child(2) {
        margin-top: -131.5%;
    }
}
@media only screen and (max-width: 770px) {
    section#home .image img:nth-child(2){
        margin-top: -144.2%;
    }
}
@media only screen and (max-width: 83.5rem) {
    section#home {
        background-color: #404040;
        background-image: none;
    }
    section#home nav{
        z-index: 1;
        padding-bottom: 20px;
    }
}
@media only screen and (max-width:1200px) {
    section#home .content .hello{
        font-size: 5rem;
        top: 6rem;
    }
}
/*********************************/
/*  2> About                     */
/*********************************/
section#about {
    display: block;
    background-color: #E8E8E8;
    margin-top: -1.6rem;
    padding-top: 10rem;
    padding-bottom: 9rem;
}

/* content style */ 
section#about .content hr{
    margin-bottom: 3.5rem !important;
}
section#about .education-institution .degree, section#about .work-experience .position{
    color: #404040;
    font-size: 1.5rem;
}
section#about .education-institution .institution, section#about .work-experience .company{
    color: #828282;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 0.3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #c4c4c4;
}
section#about .education-institution .dates-degree, section#about .work-experience .dates-work{
    color: #DB6464;
    font-weight: 400;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}
section#about .content p{
    line-height: 2rem;
}
section#about .accordion-button.collapsed{
    border: none;
    padding: 0.5rem !important;
}
section#about .accordion-button.collapsed:hover{
    background-color: #adadad;
    transition: background-color 1s;
}
section#about .accordion-button.collapsed:hover .position{
    color:#FFF;
}
section#about .education-institution{
    margin: auto;
    width: fit-content;
    text-align: center;
}
section#about .country{
    letter-spacing: 0.73rem;
    font-weight: 400;
    color: #055160;
    font-size: 1rem;
}
section#about .work-experience {
    margin-left: auto;
}
section#about .accordion-button:not(.collapsed){
    background-color: #ffedbd;
}
section#about .accordion-button:focus{
    border-color: none !important;
    box-shadow: none;
}
section#about .accordion-button::after{
    background-image: none;
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: "\f068";
    font-size: 1rem;
    color: #fbc126;
}
section#about .accordion-button.collapsed::after{
    background-image: none;
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    color: #DB6464;
    content: "\f067";
}
section#about .work-history{
    height: 415px;
    overflow: scroll;
}
/* image style */
section#about .image img{
    background-image: url(../img/two-tone-photo-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
    height: auto;
    padding: 5%;
    margin-left: 6.5rem;
    margin-top: 0rem;
    z-index: 1;
}

/*********************************/
/*  3> Skills                    */
/*********************************/
section#skills{
    display: block;
    color: #9A9797;
    background-image: url(../img/two-tone-down.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    position: relative;
    background-size: cover;
}

/* content style */
section#skills .skill-container{
    padding-top: 7rem;
    padding-bottom: 4rem;
}
section#skills .skill-container .row:first-child{
    margin-bottom: 6rem;
}
section#skills .skill-container .content h3{
    margin-top:2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 800;
}
section#skills .skill-container .content .container .row{
    margin-top: 1rem;
}
section#skills .skill-container .content .container .row label{
    font-size: 1.5rem;
}

/* images style */
section#skills .image img{
    margin: 15%;
    margin-top: 16.5%;
    width: 70%;
}
section#skills .image .frame{
    border: solid 10px #DB6464;
    width: 59%;
    height: 32rem;
    bottom: -32rem;
    position: relative;
    margin-left: 8rem;
    margin-top: -30rem;
    z-index: 1;
}
/*********************************/
/*  4> Projects                  */
/*********************************/
section#projects {
    background-color: #FFF;
    display: block;
    padding: 10rem 0rem;
    margin: -10rem 0rem;
    z-index: -1;
}
section#projects .container{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
section#projects .container .section-title{
    margin: auto;
    margin-top: 2rem;
    width: fit-content;
}
section#projects .container .section-title + hr {
    width: 12.5rem;
    margin: auto;
}

/* Projects content styles */
section#projects .container .row{
    margin: auto;
    width: 96%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
section#projects .container .card{
    margin: auto;
    margin-top: 1rem;
    background-color: #F8F8F8;
    padding: 20px 10px;
    border: none;
    -webkit-box-shadow: -1px 11px 22px 1px rgba(0,0,0,0.42); 
    box-shadow: -1px 11px 22px 1px rgba(0,0,0,0.42);
}
section#projects .container .card .shadow{
    margin-bottom: -12.15rem;
    margin-top: 11rem;
    background-color: #ffffff00;
    box-shadow: none !important;
}
section#projects .container .card.phone .shadow {
    margin-bottom: -19.85rem;
    margin-top: 17.5rem;
    width: 135px;
    margin-left: 0.9rem;
    z-index: 0 !important;
}
section#projects .container .card img{
    margin-left: -1.6rem;
    margin-bottom: -1.7rem;
    width: 120%;
}
section#projects .container .card.phone img{
    z-index: 2;
    margin-left: -5rem;
}
section#projects .container .card .project-media{
    width: 14.3rem;
    height: 10rem;
    margin-left: 1.3rem;
    margin-top: -11.8rem;
    margin-bottom: 2rem;
}
section#projects .container .card.phone .project-media {
    width: 8.3rem;
    height: 17.3rem;
    margin-left: 0.9rem;
    margin-top: -17rem;
    margin-bottom: 2rem;
    display: block;
    z-index: 1;
}
section#projects .container .card #ballplate{
    width: 14.2rem;
    height: 8.5rem;
    margin-top: -10.5rem;
}
section#projects .container .card #rivas{
    height: 9rem;
    margin-top: -10.8rem;
}
section#projects .container .card .card-title{
    color:#656565;
    font-weight: 700;
    margin-top: 1rem;
}
section#projects .container .card.phone .float-lable{
    width: fit-content;
    max-width: 90px;
    position: relative;
    top: -11rem;
    left: 10rem;
    z-index: 10;
}
section#projects .container .card .card-title + hr{
    background-color: #FFF79A;
    height: 5px;
    width: 2.5rem;
    opacity: 1;
}
section#projects .container .card .card-text{
    color: #989898;
}
section#projects .container .card .card-body{
    margin-top: 1rem;
}
section#projects .container .card.phone .card-body{
    margin-top: -6rem;
}
section#projects .container .card .card-body .btn-primary{
    display: block;
    width: fit-content;
    margin: auto;
    color: #B2B2B2;
    background-color: #F8F8F8;
    border-color: #F8F8F8;
    -webkit-box-shadow: -3px -3px 4px 5px rgb(255 255 255 / 75%), 6px 6px 12px 3px rgb(173 173 173 / 36%);
    box-shadow: -3px -3px 4px 5px rgb(255 255 255 / 75%), 6px 6px 12px 3px rgb(173 173 173 / 36%);
}
section#projects .container .card .card-body .btn-primary i{
    font-size: 1.4rem;
    margin-left: 0.5rem;
}
section#projects .container .card .card-body .btn-primary:hover{
    color: #d63384;
}
section#projects .container .carousel-indicators{
    bottom: 0rem;
}
section#projects .carousel-control-next, section#projects .carousel-control-prev {
    bottom: 0;
    top: 0;
    width: unset;
}
section#projects  .container .card a{
    color: #d63384;
}
section#projects  .container .card a:hover{
    color: #ff7777;
}
/* Responsive gallery cards */
@media (max-width: 1066px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: 100%;
    }
}
/*********************************/
/*  5> Contacts                  */
/*********************************/
section#contact {
    display: block;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    overflow-y: hidden;
}
section#contact .content{
    padding: 10rem;
    padding-bottom: 2rem;
    padding-top: 6.5rem;
}
section#contact .content .section-title{
    color: #FFF;
    margin: auto;
    margin-top: 2rem;
    width: fit-content;
}
section#contact .content .section-title + hr {
    width: 12.5rem;
    margin: auto;
}

/* form content style */
section#contact .content form{
    display: block;
    margin: auto;
    max-width: 40rem;
    min-width: 14rem;
    width: 50%;
    padding-top: 4rem;
}
section#contact .content form input, section#contact .content form textarea{
    background-color: #DDDDDD;
}
section#contact .content form label{
    color: #656565;
    padding-bottom: 1rem;
    font-size: large;
}
section#contact .content form .resume button{
    display: block;
    margin: auto;
    margin-top: 4rem;

}

/* footer section style */
section#contact .content .footer{
    margin-top: 9rem;
}
section#contact .content .footer .socials{
    display: block;
    width: fit-content;
    margin: auto;
}
section#contact .content .footer hr{
    display: block;
    width: fit-content;
    margin: auto;
    height: 3px;
    background-color: #FFF;
    margin-bottom: 1rem;
    opacity: 0.6;
    width: 50%;
}
section#contact .content .footer h1{
    display: block;
    width: fit-content;
    margin: auto;
    color: #E2E2E2;
    margin-bottom: 1rem;
    font-weight: 200;
    letter-spacing: 7px;
    font-size: 1.5rem;
}
.footer-copyrigth{
    padding: 17px;
    background: #1c1c1c;
}
.footer-copyrigth .copyrigth{
    display: block;
    margin: auto;
    width: fit-content;
    color: #fff79a;
    text-transform: lowercase;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 3px;
}
section#contact .content .footer .socials a{
    color: #FFEDBE;
    font-size: 27px;
}